<div [@routerTransition]>
    <app-page-header [heading]="'My Cars'" [icon]="'fa-edit'"></app-page-header>

    <div class="row">
        <div class="col-lg-6">

            <form role="form">
                <fieldset class="form-group">
                    <label>Vehicle Number</label>
                    <input class="form-control" placeholder="Enter Vehicle Number" type="text">

                </fieldset>
                <fieldset class="form-group">
                    <label>Vehicle Type</label>
                    <input class="form-control" placeholder="Enter Vehicle Type" type="text">

                </fieldset>
                <fieldset class="form-group">
                    <label>Vehicle Number</label>
                    <input class="form-control" placeholder="Enter Vehicle Number" type="text">

                </fieldset>
                <fieldset class="form-group">
                    <label>Capactity</label>
                    <input class="form-control" placeholder="Capactity" type="text">

                </fieldset>
                <fieldset class="form-group">
                    <label>Price per day</label>
                    <input class="form-control" placeholder="Price per day" type="text">

                </fieldset>
                <fieldset class="form-group">
                    <label>Vehicle Number</label>
                    <input class="form-control" placeholder="Enter Vehicle Number" type="text">

                </fieldset>
                <fieldset class="form-group">
                    <label>Vehicle Number</label>
                    <input class="form-control" placeholder="Enter Vehicle Number" type="text">

                </fieldset>
                <fieldset class="form-group">
                    <label>Vehicle Number</label>
                    <input class="form-control" placeholder="Enter Vehicle Number" type="text">

                </fieldset>
                <fieldset class="form-group">
                    <label>Vehicle Number</label>
                    <input class="form-control" placeholder="Enter Vehicle Number" type="text">

                </fieldset>
                <fieldset class="form-group">
                    <label>Vehicle Number</label>
                    <input class="form-control" placeholder="Enter Vehicle Number" type="text">

                </fieldset>



                <button type="submit" class="btn btn-secondary">Add a Car</button>
                <button type="reset" class="btn btn-secondary">Reset </button>

            </form>

        </div>

    </div>
    <!-- /.row -->
</div>
